
.navbar {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.navbar-nav {
  
  display: flex;
  flex-direction: column;

}

#imgleft {
    float: left ;
  }

#textleft {
    float: left ;
  }

  #imgright {
    float: right ;
  }

#textright {
    float: right ;
  }